html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.products-heading {
  text-align: center;
  margin: 2.5rem 0rem;
  color: #324d67;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.9375rem;
  margin-top: 1.25rem;
  width: 100%;
}

.hero-banner-container {
  padding: 6.25rem 2.5rem;
  background-color: #dcdcdc;
  border-radius: 0.9375rem;
  position: relative;
  height: 31.25rem;
  line-height: 0.9;
  width: 100%;
}

.hero-banner-container button {
  border-radius: 0.9375rem;
  padding: 0.625rem 1rem;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 2.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 0.25rem;
}

.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  margin-left: -1.25rem;
  text-transform: uppercase;
}

.hero-banner-container .beats-solo {
  font-size: 1.25rem;
}

.hero-banner-image {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 28.125rem;
  height: 28.125rem;
}

.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 18.75rem;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;

}

.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}

.desc h5 {
  margin-bottom: 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  /* color: black; */
  align-self: flex-end;
}

.footer-banner-container {
  padding: 6.25rem 2.5rem;
  background-color: #f02d34;
  border-radius: 0.9375rem;
  position: relative;
  height: 25rem;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 7.5rem;
}

.banner-desc {
  display: flex;
  justify-content: space-between;
}

.banner-desc button {
  border-radius: 0.9375rem;
  padding: 0.625rem 1rem;
  background-color: white;
  color: red;
  border: none;
  margin-top: 2.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.banner-desc .left h3 {
  font-weight: 900;
  font-size: 5rem;
  margin-left: 1.5625rem;
}

.banner-desc .left p {
  margin: 1.125rem;
}

.footer-banner-image {
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}

.banner-desc .right {
  line-height: 1.4;
}

.banner-desc .right h3 {
  font-weight: 800;
  font-size: 3.75rem;
}

.banner-desc .right p {
  font-size: 1.125rem;
}

.banner-desc .right .company-desc {
  font-size: 0.875rem;
  font-weight: 300;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  width: 100%;

}

.layout {
  padding: 10px;
}